<h1>Sign in</h1>
<form action="/users/createSession" method="post">
    
    <input type="email" name="email" placeholder="enter email" required>
    <input type="text" name="password" placeholder="enter password" required>
    
    <input type="submit" name="sign-in" >
    
    </form>